.mainDiv {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 30px;
  padding: 0 10px;
  border-bottom: 2px solid var(--color-accent);
}

input {
  width: 100%;
  outline: none;
  border: none;
  color: var(--color-primary);
  font-size: 16px;
}

.iconDiv {
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-accent);
  border-radius: 3px;
  overflow: hidden;
  position: relative;
  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) 0.1s;
}

@keyframes popOut {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

.iconDiv.error::before {
  display: block;
  position: absolute;
  content: "";
  width: 150%;
  height: 150%;
  border-radius: 100%;
  background-color: red;
  transform: scale(0);
  animation: popOut 2s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

.iconDiv.error {
  background-color: var(--color-error);
}

.iconDiv .icon {
  color: white;
  width: 10px;
  z-index: 50;
}