:root {
  /* Variables */
  --bg-main: #fff;
  --color-primary: #212121;
  --color-accent: #1361D6;
  --color-error: #EE0000;

  /* Styles */
  font-family: "Open Sans", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-primary);
  background-color: var(--bg-main);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
body,
#root,
main {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-main: #222226;
    --color-primary: #fefefe;
    --color-accent: #1361D6;
    --color-error: #EE0000;
  }
}